body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.login {
    width: 360px;
    height: min-content;
    padding: 20px;
    border-radius: 15px;
    background: white;
    box-shadow: 8px 8px 60px 5px rgba(0,0,0,0.5);
}

.login h1 {
    font-size: 36px;
    margin-bottom: 25px;
}

.login form {
    font-size: 20px;
}

.login form .form-group {
    margin-bottom: 12px;
}

.login form input[type="submit"] {
    font-size: 20px;
    margin-top: 15px;
}

.btn-success{
    background: #575756;
}

.btn-success:hover{
    background: #f39200;
}